@charset "utf-8";
	.clear{
		clear:both;
		height:0;
		width:100%;
		}
	body{
		background-image:url(/templates/image/bg_top.png);
		background-position:left top;
		background-repeat:repeat-x;
		padding-top:30px;
		margin:0;
		width:100%;
		}

div#footer{
	background-image:url(/templates/image/ft_bg.png);
	background-position:left top;
	background-repeat:repeat-x;
	margin:0;
	padding:0;
	width:100%;
	height:70px;
	}
	table#top_nav a{
		color:#000;
	}
	img{
		border:none;
	}/* CSS Document */

