<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中文内网全文搜索引擎</title>
<style>
	*{
		padding:0;
		margin:0;
		}
	body{
		text-align:center;
		}
	.clear{
		clear:both;
		height:0;
		width:100%;
		}
	#logo{
		margin-top:130px;
		font-size:50px;
		font-family:"微软雅黑", "黑体";
		color:blue;
		}
	form#search input{
		margin-top:30px;
		width:28em;
		padding:2px;
		font-size:18px;
		border:2px solid #ccc;
		}
	form#search button{
		margin-top:10px;
		font-family:"微软雅黑", "黑体";
		font-size:16px;
		padding:2px;
		}
	
</style>
</head>

<body>
	<div id="logo"> 内网搜索 </div>
	<div id="content">
		<form id="search" action="/search/" method="get">
			<input type="text" name="query_text" />
			<div class="clear"></div>
			<button type="submit" id="search_bn">全域查找</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" id="ver_bn">垂直搜索</button>
		</form>
	</div><!--end content-->

</body>
</html>
