<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>更多站点</title>
<link type="text/css" rel="stylesheet" href="/templates/child.css" />
<style>
	#content{
		width:600px;
		font-size:18px;
		padding:10px;
		margin-left:auto;
		margin-right:auto;
		}
	.clear{
		clear:both;
		width:100%;
		height:0;
		}
	#content table{
        text-align:left;
        width:100%;
		border:2px solid #ccc;
		margin-top:10px;
		margin-bottom:10px;
	}
    #content .title{
        width:200px;
    }
	#navs a{
		display:block;
		width:40%;
		float:left;
		height:5em;
		margin-top:20px;
	}
	
	
		
</style>
</head>

<body>
	<div id="content">
			<a href='/index/'> 
            	<img src="/templates/image/logo.png" />
            </a>
		<div id="navs">
			{%for i in titles%}
			<a href="/index/site={{titles.counter}}">{{i}}</a>
			{%endfor%}
		</div>
		
	</div>
	<div class="clear"></div>
	<div id="footer"></div>
</body>
</html>
