<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>站点信息</title>
<style>
	#content{
		border:2px solid blue;
		width:600px;
		font-size:18px;
		padding:10px;
		}
	#content table{
		border:2px solid #ccc;
		margin-top:10px;
		margin-bottom:10px;
	}
	
		
</style>
</head>

<body>
	<div id="content">
		<table>
			<tr>
				<td>名称</td>	<td>中国农业大学</td>
			</tr>
			<tr>
				<td>起始url</td>
				<td><a href="#">http://www.cau.edu.cn</a></td>
			</tr>
			<tr>
				<td>有效url</td>
				<td>http://www.cau.edu.cn</td>
			</tr>
			<tr>
				<td>收录页面</td>
				<td>2323</td>
			</tr>
		</table>
		
	</div>
</body>
</html>
