<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>站点管理</title>
<link type="text/css" rel="stylesheet" href="/templates/child.css" />

<style>
	#content{
		width:600px;
		font-size:18px;
		padding:10px;
		}
	#content  input,#content textarea{
		width:27em;
		font-size:17px;
		}
	#content textarea{
		height:8em;
		}
	#content table{
		border:1px solid #ccc;
		margin-top:10px;
		margin-bottom:10px;
		}
		
</style>
</head>

<body>
	<div id="content">
			<a href='/index/'> 
            	<img src="/templates/image/logo.png" />
            </a>
						<table id="top_nav" style="text-align:left; width:100%; border:none;">
							<tr>
								<td>
                                     <a href="/site_ctrl/">引擎配置</a>
								</td>
								<td>
                                    <a href="/site_infor/">收录信息</a>
								</td>
								<td>
                                    <a href="/infor/">使用须知</a>
								</td>
                                <td>
                                    <a href="/word_ctrl/">词库管理</a>
                                </td>
							</tr>
						</table>	
	
	
	
	
		<form action="/update_word/" method="post">
			<table>
				<tr>
					<td>学院</td>
					<td><textarea name="xueyuan">{{words.0}}</textarea></td>
				</tr>
				<tr>
					<td>人名</td>
					<td><textarea name="name">{{words.1}}</textarea>
				</tr>
				<tr>
					<td>地点</td>
					<td><textarea name="pos">{{words.2}}</textarea>
				</tr>
				<tr>
					<td>其他</td>
					<td><textarea name="other">{{words.3}}</textarea>
				</td>
			</table>
            <button type="submit" >确认修改</button>
		</form>
		
	</div>
		<div id="footer"></div>

</body>
</html>
